RewriteEngine On
RewriteEngine On
RewriteRule ^viewtestimony-([a-zA-Z0-9\w\s-]+)?$ viewtestimony.php?id=$1 [QSA,L]

RewriteRule ^testimony/([a-zA-Z0-9\w\s-]+)$ deletetestimony.php?id=$1 [L]
RewriteRule ^remove-connect-us/([a-zA-Z0-9\w\s-]+)$ removecn.php?id=$1 [L]
RewriteRule ^remove-camper/([a-zA-Z0-9\w\s-]+)$ removecamper.php?id=$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]